@model IEnumerable<Web_Project_Server.Models.Election>

@{
    ViewBag.Title = "Election Dashboard";
}

<h2>Election Dashboard</h2>

<input type="button" id="NAButton" class="=btn btn-primary" value="National Assembly" onclick="location.href='@Url.Action("Create", "Elections")?Level=National' ">
<input type="button" id="NAButton" class="=btn btn-primary" value="Provincial Assembly" onclick="location.href='@Url.Action("Create", "Elections")?Level=Provincial' ">

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Panel", "Index", "Admin")
</div>